<h1> Drinknigs </h1>

<div style="position:relative; left:50px;"">
<table border=1>
	<% @d.each do |dx| %>
	  <tr>
	    <td><%= link_to "++", new_drinking_path %></td>	
	  	<td><%= link_to dx.person.name, dx.person %></td>	  
	  	<td><%= link_to dx.beer.name, dx.beer %></td>
	  	<td><%= dx.beer.beer_type.name  %></td>
	  	<td><%=  link_to "++"+dx.person.name  , drinkings_newp_url(dx.person.id) %> </td>
	    <td><%=  link_to "++"+dx.beer.name  , drinkings_newb_url(dx.beer.id) %> </td>
	  	<td><%= link_to "edit", edit_drinking_path(dx) %></td>
	  	<td><%= link_to "delete", dx, method: :delete, data: {confirm: "Serio?"} %></td>
	  </tr>
	<% end %>
</table>
</div>

