
<% if !(@b.nil?) %>
   <% if @b.errors.any? %>
        <div class="err">
        <div>
        	Form contains <%= pluralize(@b.errors.count, "error") %>.
        </div>
   	    <ul>
   		<% @b.errors.full_messages.each do |msg| %>
   		   <li>  <%= msg %> </li>
   		<% end %>
   		</ul>
   		</div>
   <% end %>
<% end %>
