
<% if @b.nil? %>

<p class="err">Not found</p>

<% else %>

   <h1> Edycja </h1>

   <%= form_for(@b) do |piwo| %>
   
   <%= render 'beers/beer_errors', object: @b %>

   <table>
     <tr>
      <td><%= piwo.label :name %></td>
      <td><%= piwo.text_field :name %></td>
     </tr>

     <tr>
      <td><%= piwo.label :voltarz %></td>
      <td><%= piwo.text_field :voltarz %> </td>
     </tr>
   
     <tr>
     <td><%= piwo.label "Typ" %></td>
     <td><%= piwo.select :beer_type_id, @t.map {|x| [x.name, x.id]}, :default=>@b.beer_type_id %></td>
     </tr>
     <tr><td><%=  piwo.submit  %></td></tr> 
   </table>
   <% end  #form %> 

<% end %>

   <p></p>
   <a href="/beers">Powrót</a>


