<h1> Beers </h1>

<% if @b.size==0 %>

   <h2> Sorry, no beers! </h2>

<% else %>

	<table border=1px>
	 <tr>
	  <th>Nazwa</th>
	  <th>Link (by link_to)</th>
	  <th>Voltarz</th>
	  <th>Typ</th>
	  <th></th>	
	  <th></th>
	 </tr>
	
	 <% @b.each do |p| %>
	 <tr> 
	  <td><a href="beers/<%= p.id %>"><%= p.name  %>   </a>            </td>
	  <td> <%=  link_to p.name, p, class: "myLink", confirm: "rili?"  %>  </td>
	  <td><%= p.voltarz  %>    </td>           
	  <td><%= p.beer_type.name  %>     </td>
	  <td><%=  link_to "edit", edit_beer_path(p) %></td>
	  <td><%=  link_to "delete", p, method: :delete, class: "myLink", data: {confirm: "Naprawdę?"}  %></td>          
	 </tr>    
	 <% end %>
	</table>

<% end %>
