
<% if @b.nil? %>

<p class="err">Not found</p>


<% else %>

   <h1>Selected beer</h1>

   <!--p>Nazwa: <%= @b.name %> </p>
   <p>Voltarz: <%= format_vol(@b.vol) %> </p>
   <p>Typ: <%= @b.beer_type.name %> </p>

   <p> Metoda form_for </p-->

   <%= form_for(@b) do |p| %>
     
     <table>

     <tr>
     <td><%= p.label :name %></td>
     <td><%= p.text_field :name %></td>
     </tr>

     <tr>
     <td><%= p.label :voltarz %></td>
     <td><%= p.text_field :voltarz %> </td>
     </tr>

     <tr>
     <td><%= p.label "Typ" %></td>
     <td><%= p.select :beer_type_id, @t.map {|x| [x.name, x.id]}, :default=>@b.beer_type_id %></td>
     </tr>
     </table>

   <% end  #form %>

<% end %>

<p></p>
<a href="/beers">Return</a>
